*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: "poppins", sans-serif;
}

#laptop-nav {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 4rem;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}
#laptop-nav .logo {
  text-decoration: none;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#laptop-nav .logo i {
  color: #275d60;
  font-size: 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
#laptop-nav .logo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#laptop-nav .logo div span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #275d60;
  font-family: "poppins", sans-serif;
}
@media screen and (max-width: 767px) {
  #laptop-nav .logo div span {
    font-size: 1.2rem;
  }
}
#laptop-nav .logo div strong {
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #275d60;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media screen and (max-width: 767px) {
  #laptop-nav .logo div strong {
    font-size: 1rem;
  }
}
#laptop-nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
#laptop-nav .links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
#laptop-nav .links ul li {
  font-size: 1rem;
  position: relative;
  overflow-x: hidden;
}
#laptop-nav .links ul li::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #275d60;
  position: absolute;
  bottom: 0;
  left: -100%;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
#laptop-nav .links ul li:hover::after {
  left: 0;
}
#laptop-nav .links ul li a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1024px) {
  #laptop-nav .links {
    display: none;
  }
}
#laptop-nav .menubar {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
#laptop-nav .menubar:hover {
  color: #275d60;
}
@media screen and (max-width: 1024px) {
  #laptop-nav .menubar {
    display: block;
  }
}
#laptop-nav .button a {
  text-decoration: none;
}
#laptop-nav .button a:first-child {
  border: none;
  outline: none;
  background-color: #275d60;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 1rem;
}
#laptop-nav .button a:last-child {
  border: none;
  outline: none;
  background-color: #275d60;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
  #laptop-nav {
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 767px) {
  #laptop-nav {
    padding-inline: 1rem;
  }
}

#mobile-nav {
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 50;
  background-color: #275d60;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
#mobile-nav header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 1rem;
}
#mobile-nav header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  line-height: 1.5em;
}
#mobile-nav header .logo i {
  color: white;
  font-size: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
#mobile-nav header .logo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mobile-nav header .logo div span {
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  color: white;
}
#mobile-nav header .logo div strong {
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#mobile-nav header .menubar {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}
#mobile-nav ul {
  margin-top: 2rem;
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mobile-nav ul li {
  list-style: none;
  font-size: 1.2rem;
}
#mobile-nav ul li:not(:first-child) {
  margin-top: 1.5rem;
}
#mobile-nav ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
#mobile-nav ul li a:hover {
  margin-left: 10px;
}
#mobile-nav .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: 10%;
}
#mobile-nav .button a:first-child {
  text-decoration: none;
  color: white;
  border: none;
  outline: none;
  background-color: #275d60;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  margin-right: 1rem;
}
#mobile-nav .button a:last-child {
  text-decoration: none;
  color: white;
  border: none;
  outline: none;
  background-color: #275d60;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
}
@media screen and (max-width: 1024px) {
  #mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.features {
  margin-top: 9rem;
  width: 90%;
  margin-inline: auto;
}
.features h2 {
  font-size: 3rem;
}
@media screen and (max-width: 767px) {
  .features h2 {
    font-size: 2rem;
  }
}
.features .price {
  margin-top: 10px;
  font-size: 1.2rem;
}
.features .cta {
  width: 100%;
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1rem 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .features .cta {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
}
.features .cta .gda {
  width: 100% !important;
  height: 600px;
  overflow-x: hidden;
}
.features .cta .gda .swiper {
  width: 100%;
  height: 100%;
}
.features .cta .gda .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features .cta .gda .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.features .cta .gda .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.features .cta .gda .swiper-slide {
  background-size: cover;
  background-position: center;
}
.features .cta .gda .mySwiper2 {
  height: 80%;
  width: 100%;
}
.features .cta .gda .mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}
.features .cta .gda .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.8;
}
.features .cta .gda .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.features .cta .gda .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.features .cta .properties {
  background-color: white;
  -webkit-box-shadow: 10px 10px 20px rgba(39, 93, 96, 0.2);
          box-shadow: 10px 10px 20px rgba(39, 93, 96, 0.2);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features .cta .properties .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features .cta .properties .size > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}
.features .cta .properties .size > div i {
  color: #275d60;
  font-size: 1.5rem;
  padding: 5px;
  border: 1px solid #275d60;
  border-radius: 50%;
}
.features .cta .properties .condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.features .cta .properties .condition > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}
.features .cta .properties .condition > div > small {
  color: #275d60;
}
.features .cta .properties .condition > div > span {
  font-size: 1rem;
}
.features .cta .properties ul {
  list-style: inside;
  list-style-type: circle;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  font-size: 1rem;
}
.features .cta .properties .payRent {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.features .cta .properties .payRent a {
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #275d60;
  color: white;
}

.location {
  margin-top: 5rem;
  width: 90%;
  margin-inline: auto;
}
.location h4 {
  font-size: 1rem;
  color: #275d60;
}
.location .map {
  margin-top: 10px;
  width: 100%;
  height: 300px;
}

.footer {
  margin-top: 7rem;
  background-color: #f3f3f3;
  color: #275d60;
  padding: 4rem;
}
.footer .onrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
.footer .onrow div .logo {
  text-decoration: none;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .onrow div .logo i {
  color: #275d60;
  font-size: 2.5rem;
}
.footer .onrow div .logo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .onrow div .logo div span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #275d60;
  font-family: "poppins", sans-serif;
}
@media screen and (max-width: 767px) {
  .footer .onrow div .logo div span {
    font-size: 1.2rem;
  }
}
.footer .onrow div .logo div strong {
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #275d60;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media screen and (max-width: 767px) {
  .footer .onrow div .logo div strong {
    font-size: 1rem;
  }
}
.footer .onrow div p {
  margin-top: 10px;
}
.footer .onrow .quicklinks strong {
  font-size: 1.2rem;
}
.footer .onrow .quicklinks li {
  list-style: none;
  margin-top: 5px;
  font-size: 1rem;
}
.footer .onrow .quicklinks li:first-of-type {
  margin-top: 12px;
}
.footer .onrow .quicklinks li a {
  text-decoration: none;
  color: #275d60;
}
.footer .onrow .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .onrow .contact strong {
  font-size: 1.2rem;
}
.footer .onrow .contact small {
  margin-top: 12px;
}
.footer .onrow .contact a {
  text-decoration: none;
  color: #275d60;
}
@media screen and (max-width: 1024px) {
  .footer .onrow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer hr {
  margin-top: 2rem;
}
.footer .below-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.footer .below-footer small {
  color: #275d60;
}
.footer .below-footer .media a {
  text-decoration: none;
  color: #275d60;
}
.footer .below-footer .media a i {
  font-size: 1.5rem;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-inline: 2rem;
  }
  .footer .onrow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .below-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}