@import"./mediaquery";
@import"./variables";

@mixin BUTTON($bg, $txt){
  border: none;
  outline: none;
  background-color: $txt;
  color: $bg;
  padding: 10px 20px;
  border-radius: 5px;
}

@mixin HERO{
  background-image: url(../img/heroimg.jpg);
  background-position: center;
  background-size: cover;
}