@import "./base";
@import "./navbar";
@import "./variables";
@import "./mediaquery";

// navbar styling
#laptop-nav{
  @include LAPTOP-NAV;
}

#mobile-nav{
  @include MOBILE-NAV;
}
// navbar styling ends here

.container{
  width: 90%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  h2{
    text-align: center;
    font-size: $font3;
    color: $maincolor;
  }
  .main{
    box-shadow: rgba($color: $maincolor, $alpha: 0.3) 0px 2px 8px 0px;
    padding: 1.5rem 2.5rem;
    .form{
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      >div:not(:last-of-type){
        display: flex;
        flex-direction: column;
        label{
          font-size: 0.8rem;
          padding-inline-start: 5px;
          color: $maincolor;
        }
        input{
          border: none;
          outline: none;
          border-bottom: 1px solid $maincolor;
          padding: 5px;
        }
        select{
          border: none;
          outline: none;
          border-bottom: 1px solid $maincolor;
          padding: 5px;
        }
      }
      >div:last-of-type{
        display: flex;
        align-items: center;
        gap: 3px;
        input{
          accent-color: $maincolor;
        }
        a{
          color: $maincolor;
          font-size: 0.9rem;
        }
      }
      button{
        border: none;
        outline: none;
        background-color: $maincolor;
        padding: 12px 18px;
        a{
          text-decoration: none;
          color: $white;
          font-size: $font6;
        }
      }
    }
  }
  .aside{
    height: 300px;
    background-color: $white;
    box-shadow: rgba($color: $maincolor, $alpha: 0.3) 0px 2px 8px 0px;
    padding: 1.5rem;
    .estimate{
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 10px;
      hr{
        margin-top: 1rem;
      }
      >div{
        display: flex;
        justify-content: space-between;
        color: $maincolor;
      }
    }
  }
  @include MEDIAQUERY(1024px){
    grid-template-columns: 1fr;
    font-size: $font6;
    .aside{
      grid-row: 1;
      padding-inline: 2rem;
    }
    .main{
      padding-inline: 2rem;
      label{
        font-size: $font6;
      }
    }
  }
}

.footerContainer{
  width: 100%;
  background-color: #f3f3f3;
  height: 100px;
  .footer{
    width: 90%;
    margin-inline: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    small{
      color: $maincolor;
    }
    .media{
      a{
        text-decoration: none;
        color: $maincolor;
        i{
          font-size: $font4;
          margin-right: 10px;
        }
      }
    }
  }
}