@import"./variables";
@import"./base";
@import"./navbar";
@import"./mixins";
@import"./mediaquery";
@import"./footer";

// navbar styling
#laptop-nav{
  @include LAPTOP-NAV;
}

#mobile-nav{
  @include MOBILE-NAV;
}


// HEAD
// section {
//   padding: 4rem 4rem;
//   @include MEDIAQUERY(767px) {
//   padding: 2rem 1rem;
// }
// }




/* CONTACT-STYLING */





.contact-2 {
  width: 100%;
  height: 48rem;
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
  // margin-bottom: -7rem;
  @include MEDIAQUERY(767px) {
    width: 100%;
    height: 80rem;
  }
  @include MEDIAQUERY(1024px, 768px) {
    height: 70rem;
  }
  // background-color: rgba(5, 74, 142, 0.3);
  .imgwrap {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0;
    }
  }

  .contact-item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem 4rem;
    background-color: rgba(13, 13, 13, 0.8);
    @include MEDIAQUERY(767px) {
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem;
    }
     h1 {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      align-items: center;
      color: white;
      padding-top: 3rem;
      padding-bottom: 1rem;
      // padding-top: 4rem;/
      @include MEDIAQUERY(767px) {
        font-size: 3rem;
        font-weight: 800;
      }
    }
    .paragraph {
      font-size: 1.3rem;
      text-align: center;
      color: white;
      padding: 0 10rem 3rem 10rem;
      @include MEDIAQUERY(767px) {
        padding: 1rem 0;
      }
      @include MEDIAQUERY(1024px, 768px) {
        padding: 2rem 1rem;
      }
    }
   
    .text {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      justify-content: space-between;
      padding-top: 3rem;
      @include MEDIAQUERY(767px) {
        display: flex;
        flex-direction: column;
      }
      @include MEDIAQUERY(1024px, 768px) {
        display: flex;
        flex-direction: column;
      }

      .item-1 {
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
        @include MEDIAQUERY(767px) {
          width: 100%;
          padding-top: 5rem;
          // margin-top: 5rem;
          // margin-bottom: -5rem;
        }
        @include MEDIAQUERY(1024px, 768px) {
          width: 100%;
        }
        .location {
          display: flex;
          gap: 1rem;
          .img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: white;
            border: 0;
            cursor: pointer;
            position: relative;
            z-index: 1;
            overflow: hidden;
            @include MEDIAQUERY(1024px, 768px) {
              width: 4rem;
              height: 4rem;
            }
            &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            bottom: -100%;
            border-radius: 0 0 0 10px;
            left: 0;
            /* border-radius: 50%; */
            background-color: #275d60;
            transition: 0.5s;
            cursor: pointer;
            }
            &:hover::after {
              bottom: 0;
  
            }
            img {
              padding: 12px 12px;
              @include MEDIAQUERY(1024px, 768px) {
                padding: 17px 20px;
              }
            }
          }
          h4 {
            color: #275d60;
            font-size: 1.5rem;
            padding-bottom: 0.5rem;
            @include MEDIAQUERY(1024px, 768px) {
              font-size: 2rem;
            }
          }
          p {
            color: white;
            font-size: 1.2rem;
            padding-bottom: 1rem;
            @include MEDIAQUERY(1024px, 768px) {
              font-size: 1.8rem;
            }
          }
        }
      }


      .form {
        width: 50%;
        height: 25rem;
        padding: 3rem 3rem;
        background-color: white;
        margin-top: -3rem;
        border-radius: 10px;
        // align-items: center;
        // justify-content: center;
        @include MEDIAQUERY(767px) {
            width: 100%;
            height: 30rem;
            padding: 1rem 1.5rem;
            margin-bottom: 5rem;
        }
        @include MEDIAQUERY(1024px, 768px) {
          width: 100%;
          margin-bottom: 16rem;
        }
        h4 {
          font-size: 1.5rem;
          font-weight: 600;
          padding-bottom: 1.5rem;
          color: black;
          @include MEDIAQUERY(767px) {
          font-size: 2rem;
          font-weight: 700;
          padding-top: 3rem;
          }
       }
       form {
        width: 100%;
        div {
          margin: 1rem 0;
          label {
            font-size: 1.1rem;
            color: black;
            padding-bottom: 4rem;
          }
          input {
            width: 100%;
            background-color: black;
            // border-radius: 0 0 0 10px;
            padding: 0.2rem 0.2rem;
            font-size: 1rem;
            box-shadow: none;
            outline: none;
            border: 0;
            background-color: white;
            color: black;
            border-bottom: 2px solid black;
          }
          textarea {
            width: 100%;
            background-color: black;
            // border-radius: 0 0 0 10px;
            padding: 0.2rem 0.2rem;
            font-size: 1rem;
            box-shadow: none;
            outline: none;
            border: 0;
            background-color: white;
            color: black;
            border-bottom: 2px solid black;
          }
          
        }
        button {
          padding: 12px 30px;
          background-color: #275d60;
          color: white;
          border: 0;
          @include MEDIAQUERY(767px) {
          padding: 15px 30px;
          }
          cursor: pointer;
          position: relative;
          z-index: 1;
          overflow: hidden;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            bottom: -100%;
            left: 0;
            /* border-radius: 50%; */
            background-color: black;
            transition: 0.5s;
            cursor: pointer;
            }
            &:hover::after {
              bottom: 0;
            }
       }
       }

      }
   
    }
 
  }
  }

// footer

.footer{
  @include FOOTER;
}

.scrolltop{
  background-color: #275d60;
  padding: 12px 12px;
  width: 3rem;
  height: 3rem;
  align-items: center;
  font-size: 0.76rem;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 4rem;
  /* position: relative; */
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  box-shadow: 1px 1px 10px black;
  @include MEDIAQUERY(767px) {
    right: 1rem;
  }
  &::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: -100%;
  left: 0;
  border-radius: 50%;
  background-color: black;
  transition: 0.5s;
  cursor: pointer;
}
  &:hover::after {
  bottom: 0%;
  background-color: black;
  border: 0;
}
}
